p {
  font-family: Roboto, Arial;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  /* This style below will be inherited */
  font-family: Roboto, Arial;
  margin: 0;
  padding: 80px 15px 27.4px 118px;
  background-color: rgb(243, 243, 243);
}
