.header {
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(228, 228, 228);
}

.left-section {
  display: flex;
  align-items: center;
}
.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}
.search-icon {
  height: 25px;
}
.search-bar {
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}
.search-bar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}
.search-button {
  height: 40px;
  width: 66px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  font-family: Roboto, Arial;
  position: absolute;
  background-color: rgb(133, 132, 132);
  color: white;
  padding-right: 5px;
  padding-left: 4px;
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 12px;
  bottom: -24px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.voice-search-icon {
  height: 24px;
}

.upload-icon {
  height: 24px;
  cursor: pointer;
}

.youtube-apps-icon {
  height: 24px;
  cursor: pointer;
}

.notifications-icon {
  height: 24px;
  cursor: pointer;
}

.current-user-picture {
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.notifications-icon-container {
  position: relative;
}
.notifications-count {
  position: absolute;
  top: -2px;
  right: -8px;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 10px;
}

.hamburger-menu {
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.hamburger-menu:hover {
  cursor: pointer;
  background-color: rgb(209, 210, 210);
}

.youtube-logo {
  height: 30px;
}
.youtube-logo:hover {
  cursor: pointer;
}
